<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="static/font-awesome.min.css">
</head>
<body>
    <h1><i class="fa fa-terminal" aria-hidden="true"></i> <%= message %></h1>
    <h1><i class="fa fa-telegram" aria-hidden="true"></i> <%= message %></h1>
</body>
</html>
